@model IEnumerable<IdTapThat.Models.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brewery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
